<div id="checkVersion">
    <img src="./assets/images/icon.png" alt="Logo" style="width: 80px; margin-bottom: 20px;">
    <p id="checkVersionText"></p>
</div>

<!-- Ajout du conteneur de chargement -->
<div id="loadingContainer" style="display: none;">
    <div id="loadingContent">
        <div id="letterVContainer">
            <img class="letterVImage" src="./assets/images/icon.png" alt="Chargement">
        </div>
        <p id="loadingText">Chargement...</p>
    </div>
</div>

<script src="./renderer.js"></script>
